<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://yourcompany.com/hoteltv"
        version="1.0.0">

  <tizen:application id="com.yourcompany.hoteltv"
                     package="com.yourcompany"
                     required_version="4.0"/>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/display"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

  <tizen:setting background-support="enable"
                 screen-orientation="landscape"
                 context-menu="disable"
                 background-vibration="disable"/>

  <content src="index.html"/>
  <name>Hotel TV</name>
  <description>Hotel room launcher with Exely PMS integration</description>
</widget>
